# Lesson 11: SQL Part 2 Studio

> This studio asks you to create queries using the functions from this lesson. As you work through the studio, you may need to create more than one query to return the desired answer.  For others, you may need to combine functions together in order to answer the original query.  The questions have been organized in a way to help you puzzle out the answers.
> 
> Happy querying! 

**The Dataset:**   

> We will be working with the **BooksDB dataset** from Lesson 10.  You should already have access to it.

## The Questions:

1.  Create a query that returns the longest title in the dataset.  We can do this in two steps.

> A. Create a query that returns the length of the longest title.
> 
> B. Create a query that uses the length you found in step A to find the longest title.

In [1]:
SELECT TOP  5 *
FROM BooksDB.dbo.books

id,book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,title,language_code,average_rating,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
1,2767052,2767052,2792775,272,439023483,9780439023480,Suzanne Collins,2008,The Hunger Games,"The Hunger Games (The Hunger Games, #1)",eng,4.34,4780653,4942365,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m/2767052.jpg,https://images.gr-assets.com/books/1447303603s/2767052.jpg
2,3,3,4640799,491,439554934,9780439554930,"J.K. Rowling, Mary GrandPré",1997,Harry Potter and the Philosopher's Stone,"Harry Potter and the Sorcerer's Stone (Harry Potter, #1)",eng,4.44,4602479,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m/3.jpg,https://images.gr-assets.com/books/1474154022s/3.jpg
3,41865,41865,3212258,226,316015849,9780316015840,Stephenie Meyer,2005,Twilight,"Twilight (Twilight, #1)",en-US,3.57,3866839,3916824,95009,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m/41865.jpg,https://images.gr-assets.com/books/1361039443s/41865.jpg
4,2657,2657,3275794,487,61120081,9780061120080,Harper Lee,1960,To Kill a Mockingbird,To Kill a Mockingbird,eng,4.25,3198671,3340896,72586,60427,117415,446835,1001952,1714267,https://images.gr-assets.com/books/1361975680m/2657.jpg,https://images.gr-assets.com/books/1361975680s/2657.jpg
5,4671,4671,245494,1356,743273567,9780743273560,F. Scott Fitzgerald,1925,The Great Gatsby,The Great Gatsby,eng,3.89,2683664,2773745,51992,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m/4671.jpg,https://images.gr-assets.com/books/1490528560s/4671.jpg

In [10]:
-- Code here:
SELECT MAX(LEN(title)) AS 'Amount of Characters of the Longest title'
FROM BooksDB.dbo.books;

SELECT title AS 'Book with Longest Title Name'
FROM BooksDB.dbo.books
WHERE LEN(title) =186

Amount of Characters of the Longest title
186

Book with Longest Title Name
"Soccernomics: Why England Loses, Why Germany and Brazil Win, and Why the U.S., Japan, Australia, Turkey--and Even Iraq--Are Destined to Become the Kings of the World's Most Popular Sport"

2.  Use what you learned in question 1 to find the shortest author name.  

> A. Create a query that returns the length of the shortest author.
> 
> B. Create a query that returns the shortest author's name.

In [2]:
-- Code here:
SELECT MAX(LEN()) AS 'Amount of Characters of the Longest title'
FROM BooksDB.dbo.books;

SELECT title AS 'Book with Longest Title Name'
FROM BooksDB.dbo.books
WHERE LEN(title) =186

3\. How many titles contain the word "The"?  

  

> A. Is there a difference between the number of titles that use "The" or "the"?

In [3]:
-- Code here:

4.  How many authors' names _start_ with 'Z'?

In [4]:
-- Code here:

5\. How many books have been identified as printed in a language other than English?  There are four language codes for English: 'en', 'eng', 'en-US', and 'en-UK'.  Use LEFT to answer the question.  (Do not use the wildcard)

You might want to use one of these [comparison operators](https://docs.microsoft.com/en-us/sql/t-sql/language-elements/comparison-operators-transact-sql?view=sql-server-ver15).

In [5]:
-- Code here:

6\. Retry question 5 using SUBSTRING.

In [6]:
-- Code here:

7.  Create a column that returns the title, authors, and language codes.  Concatenate these elements so that they return in the following way: title by authors in language\_code language.

> A.  Check each selected column to see where any values are NULL.  Did any of the columns contain NULL values?  If so, which one?

In [7]:
-- Code here:

8.  Update the query in question 7 using COALESCE to change the language code values from NULL to 'unknown'.

> A.  Has this changed the language\_code  where the values are NULL?

In [8]:
-- Code here:

9\. Revisit question 7 using ISNULL instead of COALESCE.

> A.  Has this changed the language\_code  where the values are NULL?

In [9]:
-- Code here: